{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 0,
    "linebreak-style": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "no-unused-vars": "warn",
    "max-len": ["warn", { "code": 100 }]
  },
  "extends": ["eslint:recommended", "google"]
}
